.container {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(240, 187, 247);
}

h1 {
    color: rgb(51, 107, 107);
    text-align: center;
    
}

.friend {
    background-color: hotpink;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

p {
    text-align: center;
}